#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Python
*.pyc

# Ansible
*.retry

# Temporary Ansible inventory
icm_host

# Local Splunk app packages
index_cluster/files/icm/master-apps/*.*
